
<%- include("partials/header") -%>

<h1>Contact</h1>
<p> <%= contactContent  %> </p>
<br>
<h4>Email: xyz@gmail.com</h4>
<h4>Address: xyz street</h4>
<h4>Phone: 1234567890</h4>
<h4>Social Media:</h4>
<ul>
  <li>Facebook:HitehMourya</li>
  <li>Twitter: mouryaHitesh</li>
  <li>Instagram: m0uryahitesh</li>
</ul>

<%- include("partials/footer") -%>
